<%- include("layout/header") %>
    
    <h1>Login Page</h1>
    <form action="" method="">
        <div>Username:<input type="text" name="" id=""></div>
        <div>Password:<input type="text" name="" id=""></div>
        <div><input type="submit" name="" id=""></div>
    </form>

<%- include("layout/footer") %>
