<%- include("layout/header") %>

<h1>Register Page</h1>


<form action="register" method="post">
    <div>Username:<input type="text" name="username" id=""></div>
    <div>Password:<input type="text" name="password" id=""></div>
    <div>Phone:<input type="text" name="" id=""></div>
    <div><input type="submit" name="" id=""></div>
</form>

<%- include("layout/footer") %>
